.top {
    color: #1D79DE;
    text-align: center;
    font-size: 50;
    font-family: "Times New Roman";
    position: absolute;
    height: auto;
    width: auto;
    left: 45%;
    top: 5%;
}

.button {
    width:300px;
    background-color: #2567D5;
    border: none;
    color:#fff;
    padding: 10px 0;
    text-align: center;
    text-decoration: none;
    display: inline;
    font-size: 15px;
    margin: -3px;
    cursor: pointer;
    font-family: "Times New Roman";
    text-align: center;
}
.search{
  margin-left: 350px;
}
.sch-button {
    width:80px;
    background-color: #2567D5;
    border: none;
    color:#fff;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 5px;
    margin: 2px;
    cursor: pointer;
    border-radius:10px;
    font-family: "Times New Roman";
    text-align: center;
}
.topmenu{
  position: absolute;
  height: auto;
  width: auto;
  left: 3%;
  right: 3%;
  top: 15%;
}
.midcont{
  position: absolute;
  height: auto;
  width: auto;
  left: 3%;
  right: 3%;
  top: 20%;
  color: black;
  text-align: center;
  font-size: 25;
  font-family: "Times New Roman";
}
