.top {
    color: #1D79DE;
    text-align: center;
    font-size: 50px;
    font-family: "Times New Roman";
    height: auto;
    width: auto;
    margin: -3%;
    margin-bottom: 0%;
    padding-top: 5%;
    padding-left: 27%;
    padding-bottom: 5%;
    background-color: #FFFFFF;
}
.logo {
    color: #1D79DE;
    text-align: center;
    font-size: 50px;
    font-family: "Times New Roman";
    height: auto;
    width: auto;
    background-color: #FFFFFF;
    border: 0;
    outline: 0;
}
.button {
    width:15%;
    background-color: #2567D5;
    border: none;
    color:#fff;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline;
    font-size: 15px;
    margin: -3px;
    cursor: pointer;
    font-family: "Times New Roman";
    text-align: center;
    border: 0;
    outline: 0;
}
.search{
  margin-left: 15%;
}
.sch-button {
    width:80px;
    background-color: #2567D5;
    border: none;
    color:#fff;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 5px;
    margin: 2px;
    cursor: pointer;
    border-radius:10px;
    font-family: "Times New Roman";
    text-align: center;
}
.topmenu{
  margin-left: -5%;
  margin-right: -5%;
  padding-left: 10%;
  background-color: #FFFFFF;
}
.midcont{
  background-color: #FFFFFF;
  margin-top: 2%;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 0%;
  padding-bottom: 5%;
  color: black;
  text-align:left;
  font-size: 20px;
  font-family: "Times New Roman";
}
.bodys{
  background-color: #F4F4F4;
}
#contens{
  padding-top: 2%;
  margin: 3%
}
