#color{
  color: #152F40;
  color: #A2A638;
  color: #555673;
  color: #4E84A6;
  color: #99D9F2;
}
body{
  margin:0;
  padding:0;
}

.container{
  background-color: white;
  display: grid;
  grid-template-columns: 20% 1fr;
  grid-template-rows: 100px 1fr 100px;
  height: 100vh;
  grid-gap: 20px;
  grid-template-areas:
  "header header"
  "side main"
  "footer footer";
}

.header{
  grid-area: header;
  background-color: #152F40;
  text-align: center;
  padding-top: 2vh;
  color: azure;
  font-size: 2em;
}

.side{
  grid-area: side;
  background-color: #555673;
}

.main{
  grid-area: main;
  background-color: #555673;
}

.footer{
  grid-area: footer;
  background-color: #99D9F2;
}

.menu{
  margin: 15px;
  margin-top: 10%;
  border: 1px solid black;
  color: black;
  background-color: aliceblue;
  height: 5%;
  text-align: center;
  padding: 0;
  padding-top:5%;
}

#box{
  display: inline;
  border: 5px solid brown;
  position: absolute;
  top:50%;
  left:50%;
}